extends layout

block content
    section.highlights
        .container
            .row
                .col-md-12
                    .wrapper_slider
                        .slider.owl-carousel.owl-theme
                            .item(data-big_slide='img/background_1.jpg')
                                img(src='/assets/img/slide_1.jpg', alt='')
                            .item(data-big_slide='img/bg_2.jpg')
                                img(src='/assets/img/slide_2.jpg', alt='')
                            .item(data-big_slide='img/background_1.jpg')
                                img(src='/assets/img/slide_3.jpg', alt='')
                            .item(data-big_slide='img/bg_2.jpg')
                                img(src='/assets/img/slide_4.jpg', alt='')
                            .item(data-big_slide='img/background_1.jpg')
                                img(src='/assets/img/slide_5.jpg', alt='')
            .about_travel
                .row
                    .col-md-12.col-lg-5
                        .content-in-item-travel
                            .item-about
                                h3 DAYS:
                                if itinerary
                                    p #{itinerary.DayLength} Days (#{itinerary.DayLength} Full Days); #{itinerary.DayLength - 1} Nights
                            .item-about
                                h3 FEATURING:
                                if itinerary
                                    p Barcelona, Madrid, Cordoba, Seville, Granada
                            .item-about
                                h3 THEMES:
                                if itinerary
                                    - var themes = "";
                                    each theme, index in itinerary.Theme ? itinerary.Theme : []
                                        if index == 0
                                            - themes = theme
                                        else
                                            - themes = themes + ", " + theme
                                    p #{themes}
                    .col-md-12.col-lg-7
                        .content-in-item-travel
                            h2 Trip highlights:
                            if itinerary
                                p #{ itinerary.Description }
    .section.locations_days
        .container
            .row
                .col-md-12.col-lg-3.order-lg-2
                    .all_scroll_map(data-margin-top='100')
                        .map_go_to
                            .map_slider
                                .item.active(data-index='1')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='2')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='3')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='4')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='5')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='6')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='7')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='8')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='9')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='10')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='11')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                        .travel_for_mar
                            .wtat_kind.clearfix.style_wtat_kind
                                span
                                    | map by days
                                    img.style_wtat_kind_img(src='/assets/img/travel_in_map3.png')
                                    | view
                                // <span></span>
                        .days_map
                            .all_go_t
                                .count_dayse.map_slider_littlee.addstyle_map_slider_littlee
                                    .map_slider_littlee_prev
                                    .map_slider_littlee_box
                                        .go_to_sl.go_to_sl_1.active(data-index='1') All
                                        .go_to_sl.go_to_sl_2(data-index='2') 1
                                        .go_to_sl.go_to_sl_3(data-index='3') 2
                                        .go_to_sl.go_to_sl_4(data-index='4') 3
                                        .go_to_sl.go_to_sl_5(data-index='5') 4
                                        .go_to_sl.go_to_sl_6(data-index='6') 5
                                        .go_to_sl.go_to_sl_7(data-index='7') 6
                                        .go_to_sl.go_to_sl_8(data-index='8') 7
                                        .go_to_sl.go_to_sl_9(data-index='9') 8
                                        .go_to_sl.go_to_sl_10(data-index='10') 9
                                        .go_to_sl.go_to_sl_11(data-index='11') 10
                                        //
                                          div class="go_to_sl go_to_sl_12" data-index="12">1</div>
                                          <div class="go_to_sl go_to_sl_13" data-index="13">2</div>
                                          <div class="go_to_sl go_to_sl_14" data-index="14">3</div>
                                          <div class="go_to_sl go_to_sl_15" data-index="15">4</div>
                                          <div class="go_to_sl go_to_sl_16" data-index="16">5</div>
                                          <div class="go_to_sl go_to_sl_17" data-index="17">6</div>
                                          <div class="go_to_sl go_to_sl_18" data-index="18">7</div>
                                          <div class="go_to_sl go_to_sl_19"  data-index="19">8</div>
                                          <div class="go_to_sl go_to_sl_20" data-index="20">9</div>
                                          <div class="go_to_sl go_to_sl_21" data-index="21">10</div
                                    .map_slider_littlee_next
                        .box_element.display_none(data-index_id='7', data-index_id_min='3')
                            .box_element_conteiner
                .col-md-12.col-lg-9
                    .exp-col
                        span.spa_1.active Expand All
                        |  /
                        span.spa_2 Collapse

                    form(method='POST')
                        input(type='hidden', id='itinerary', name='itinerary', value='')

                        if itinerary
                            each day, index in itinerary.Days ? itinerary.Days : []
                                .day.day1
                                    .time_line
                                        p Day #{index + 1}
                                    .all_in_head.all_in_head_js
                                        .head
                                            img(src='/assets/img/city1.jpg', alt='')
                                            h3 #{day.Title}
                                            p Location(s): #{day.Location}
                                            p Overnight: #{day.Overnight}
                                    if day.Events
                                        each event, index1 in day.Events ? day.Events : []
                                            if index1 == 0
                                                .event.active
                                                    .icon
                                                        img(src='/assets/img/icon1.png', alt='')
                                                    .content
                                                        h3
                                                            b #{event.EventType} - #{event.Label}
                                                            br
                                                            | #{event.Description}
                                                        .hidden_part.active
                                                            table
                                                                tr
                                                                    td Airport:
                                                                    td CUN
                                                                tr
                                                                    td Confirmation #:
                                                                    td HSU4A7
                                                                tr
                                                                    td Flight #:
                                                                    td UA432
                                                                tr
                                                                    td Airline:
                                                                    td United Airlines
                                                                tr
                                                                    td Terminal:
                                                                    td 3
                                                                tr
                                                                    td Gate:
                                                                    td B10
                                                                tr
                                                                    td Booked Through:
                                                                    td Expedia
                                                            a.voucher(href='/assets/', download='')
                                                                i
                                                                    img(src='/assets/img/paper.png', alt='')
                                                                | PDF
                                                        .bottom_row.clearfix
                                                            a.book_now(href='/assets/#') Book Now
                                                            a.show_less.active(href='/assets/')
                                                                span Show Less
                                                                i
                                                                    img(src='/assets/img/show.png', alt='')
                                                        .clearfix
                                            else
                                                .event
                                                    .icon
                                                        img(src='/assets/img/icon1.png', alt='')
                                                    .content
                                                        h3
                                                            b #{event.EventType} - #{event.Label}
                                                            br
                                                            | #{event.Description}
                                                        .hidden_part.active
                                                            table
                                                                tr
                                                                    td Airport:
                                                                    td CUN
                                                                tr
                                                                    td Confirmation #:
                                                                    td HSU4A7
                                                                tr
                                                                    td Flight #:
                                                                    td UA432
                                                                tr
                                                                    td Airline:
                                                                    td United Airlines
                                                                tr
                                                                    td Terminal:
                                                                    td 3
                                                                tr
                                                                    td Gate:
                                                                    td B10
                                                                tr
                                                                    td Booked Through:
                                                                    td Expedia
                                                            a.voucher(href='/assets/', download='')
                                                                i
                                                                    img(src='/assets/img/paper.png', alt='')
                                                                | PDF
                                                        .bottom_row.clearfix
                                                            a.book_now(href='/assets/#') Book Now
                                                            a.show_less.active(href='/assets/')
                                                                span Show Less
                                                                i
                                                                    img(src='/assets/img/show.png', alt='')
                                                        .clearfix

                    a.save_btn(href='/assets/') Save to my Itineraries & Customize

