extends layout

block content

    form(method='POST')
        br
        p Name:
        input(type='text', name='name', value=location.Name)
        br
        p Country:
        select(name='country')
            each country in countries ? countries : []
                if location
                    if (location.Country.toString() === country._id.toString())
                        option(value=country._id, selected="selected") #{country.Name}
                    else
                        option(value=country._id) #{country.Name}
        br
        input(type='submit', value='Save')
        a(href='/edit_locations')
            input(type='button', value='Cancel')