extends layout

block content

    section.highlights.highlights_padding
        .container
            .row
                .col-md-12
                    .wrapper_slider
                        .slider.owl-carousel.owl-theme
                            .item
                                img(src='/assets/img/slide_1.jpg', alt='')
                            .item
                                img(src='/assets/img/slide_2.jpg', alt='')
                            .item
                                img(src='/assets/img/slide_3.jpg', alt='')
                            .item
                                img(src='/assets/img/slide_4.jpg', alt='')
                            .item
                                img(src='/assets/img/slide_5.jpg', alt='')
            .select_start_date
                .row
                    .col-lg-5.col-md-12
                        .items_in
                            p Select Start Date:
                            .date_time_picker
                                input.form-control.form-control_js.date-picker(type='text', value=itinerary.Start_Date, data-datepicker-color='primary')
                                .icon_calendar
                    .col-lg-7.col-md-12
                        button.save Save
                        button.save.cancel Cancel
            .about_travel
                .row
                    .col-md-12.col-lg-5
                        .content-in-item-travel
                            //
                             div class="item-about">
                             <h3>TITLE:</h3>
                             <p>Barcelona, Madrid, Andalucia</p>
                             </div
                            .item-about
                                h3 DAYS:
                                form(id='day_form')
                                    if itinerary
                                        input(type='text', class="days_top_number", value=itinerary.DayLength)
                                        h3 Days (#{itinerary.DayLength} Full Days);
                                        input(type='text', class="nights_top_number", value=(itinerary.DayLength - 1))
                                        h3 Nights
                                    else
                                        input(type='text', class="days_top_number", value=itinerary.DayLength)
                                        h3 Days (#{itinerary.DayLength} Full Days);
                                        input(type='text', class="nights_top_number", value=(itinerary.DayLength - 1))
                                        h3 Nights
                            .item-about
                                h3 FEATURING:
                                if itinerary
                                    - var features = "";
                                    each theme, index in itinerary.Feature ? itinerary.Feature : []
                                        if index == 0
                                            - features = feature
                                        else
                                            - features = features + ", " + feature
                                    p(class='features') #{features}
                            .item-about
                                h3 THEMES:
                                if itinerary
                                    - var themes = "";
                                    each theme, index in itinerary.Theme ? itinerary.Theme : []
                                        if index == 0
                                            - themes = "<span> " + theme.Name + " <i class='fa fa-close close-theme red-hover'></i></span>"
                                        else
                                            - themes = themes + "<span>, " + theme.Name + " <i class='fa fa-close close-theme red-hover'></i></span>"
                                    p(class='themes') !{ themes }
                                    select(class='theme-dropdown')
                                        option(value="empty") --
                                        each theme in Themes ? Themes : []
                                            option(value=theme.Name) #{ theme.Name }
                    .col-md-12.col-lg-7
                        .content-in-item-travel
                            h2 Trip highlights:
                            textarea #{ itinerary.Description }
                            if itinerary
                                input(type='hidden', value=itinerary.Description)
    .section.locations_days
        .container
            .row
                .col-md-12.col-lg-3.order-lg-2
                    .all_scroll_map(data-margin-top='100')
                        .map_go_to
                            .map_slider
                                .item.active(data-index='1')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='2')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='3')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='4')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='5')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='6')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='7')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='8')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='9')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='10')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='11')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                        .travel_for_mar
                            .wtat_kind.clearfix
                                span
                                    | map by days
                                    img.style_wtat_kind_img(src='/assets/img/travel_in_map3.png')
                                    | view
                                // <span></span>
                        .days_map
                            .all_go_t
                                .count_dayse.map_slider_littlee.addstyle_map_slider_littlee
                                    .map_slider_littlee_prev
                                    .map_slider_littlee_box
                                        .go_to_sl.go_to_sl_1.active(data-index='1') All
                                        .go_to_sl.go_to_sl_2(data-index='2') 1
                                        .go_to_sl.go_to_sl_3(data-index='3') 2
                                        .go_to_sl.go_to_sl_4(data-index='4') 3
                                        .go_to_sl.go_to_sl_5(data-index='5') 4
                                        .go_to_sl.go_to_sl_6(data-index='6') 5
                                        .go_to_sl.go_to_sl_7(data-index='7') 6
                                        .go_to_sl.go_to_sl_8(data-index='8') 7
                                        .go_to_sl.go_to_sl_9(data-index='9') 8
                                        .go_to_sl.go_to_sl_10(data-index='10') 9
                                        .go_to_sl.go_to_sl_11(data-index='11') 10
                                    .map_slider_littlee_next
                        .box_element.display_none(data-index_id='7', data-index_id_min='3')
                            .box_element_conteiner
                .col-md-12.col-lg-9.board_1
                    .exp-col
                        span.spa_1.active Expand All
                        |  /
                        span.spa_2 Collapse


                    form(method='POST')
                        input(type='hidden', id='itinerary', name='itinerary', value='')

                        #days_box.days_box
                        if itinerary
                            each day, index in itinerary.Days ? itinerary.Days : []
                                #days1.days(draggable='true')
                                    div(class="day day" + (index + 1) + " clearfix")
                                        .time_line
                                            p Day #{index + 1}
                                        .all_in_head
                                            .edit_block
                                                .delete
                                                    img(src='/assets/img/basket_day.png', alt='')
                                                .drag.drag_days
                                                    img(src='/assets/img/drah_day.png', alt='')
                                            .head
                                                img(src='/assets/img/city1.jpg', alt='')
                                                .time_line_span_box
                                                    span.time_line_span #{ day.Date }
                                                h3 #{day.Title}
                                                - var locations = "";
                                                    each location in day.Day_Locations ? day.Day_Locations : []
                                                        - locations = locations + location.Name;
                                                p Location(s): #{ locations }
                                                p Overnight: #{ day.Overnight }
                                        if day.Events
                                            .event_box
                                            each event, index1 in day.Events ? day.Events : []
                                                if index1 == 0
                                                    div(id="day" + (index + 1) + "_event_" + (index1 + 1), class="event active", data-index='1')
                                                        //#day1_event_1.event.active(data-index='1')
                                                        .edit_block
                                                            .delete
                                                                img(src='/assets/img/basket_grey.png', alt='')
                                                            .drag
                                                                img(src='/assets/img/drag_grey.png', alt='')
                                                        .icon
                                                            if event.EventType == 'Flight'
                                                                img(src='/assets/img/icon1.png', alt='')
                                                            else if event.EventType == 'Hotel'
                                                                img(src='/assets/img/icon2.png', alt='')
                                                            else if event.EventType == 'Meal'
                                                                img(src='/assets/img/icon3.png', alt='')
                                                            else if event.EventType == 'Rest'
                                                                img(src='/assets/img/icon6.png', alt='')
                                                            else if event.EventType == 'Location'
                                                                img(src='/assets/img/icon5.png', alt='')
                                                            else if event.EventType == 'Optional'
                                                                img(src='/assets/img/icon4.png', alt='')
                                                        .content
                                                            h3
                                                                b #{event.EventType} - #{event.Label}
                                                                br
                                                                | #{event.Description}
                                                            .hidden_part.active
                                                                if event.EventType == 'Flight'
                                                                    table
                                                                        tr
                                                                            td Airport:
                                                                            td #{ event.Airport }
                                                                        tr
                                                                            td Confirmation #:
                                                                            td #{ event.Confirmation }
                                                                        tr
                                                                            td Flight #:
                                                                            td #{ event.Flight }
                                                                        tr
                                                                            td Airline:
                                                                            td #{ event.Airline }
                                                                        tr
                                                                            td Terminal:
                                                                            td #{ event.Terminal }
                                                                        tr
                                                                            td Gate:
                                                                            td #{ event.Gate }
                                                                        tr
                                                                            td Booked Through:
                                                                            td #{ event.Booked_Through }
                                                                else if event.EventType == 'Hotel'
                                                                    p.notes
                                                                        b #{ event.Description }
                                                                    table
                                                                        tbody
                                                                            tr
                                                                                td Lodging Name:
                                                                                td #{ event.Name }
                                                                            tr
                                                                                td Confirmation #:
                                                                                td #{ event.Confirmation }
                                                                            tr
                                                                                td Check in:
                                                                                td.add_width(style='font-size:0')
                                                                                    input.form-control.timepicker.timepicker_style(type='text', name='cron', required='')
                                                                                    .time_icon_box
                                                                                    input.form-control.form-control_check.date-picker1(type='text', value='#{ event.Check_in }', data-datepicker-color='primary')
                                                                                    .date
                                                                            tr
                                                                                td Check out:
                                                                                td.add_width(style='font-size:0')
                                                                                    input.form-control.timepicker.timepicker_style(type='text', required='', name='cron')
                                                                                    .time_icon_box
                                                                                    input.form-control.form-control_check.date-picker2(type='text', value='#{ event.Check_out }', data-datepicker-color='primary')
                                                                                    .date
                                                                            tr
                                                                                td Booked Through:
                                                                                td #{ event.Booked_Through }

                                                                a.voucher(href='', download='')
                                                                    i
                                                                        img(src='/assets/img/paper.png', alt='')
                                                                    | PDF
                                                            .bottom_row.clearfix
                                                                a.book_now(href='#') Book Now
                                                                a.show_less.active(href='')
                                                                    span Show Less
                                                                    i
                                                                        img(src='/assets/img/show.png', alt='')
                                                else
                                                    div(id="day" + (index + 1) + "_event_" + (index1 + 1), class="event", data-index='1')
                                                        .edit_block
                                                            .delete
                                                                img(src='/assets/img/basket_grey.png', alt='')
                                                            .drag
                                                                img(src='/assets/img/drag_grey.png', alt='')
                                                        .icon
                                                            img(src='/assets/img/icon1.png', alt='')
                                                        .content
                                                            h3
                                                                b Arrival - Barcelona
                                                                br
                                                                | Welcome to the start point of your itinerary and let the adventure begin!
                                                            .hidden_part.active
                                                                table
                                                                    tr
                                                                        td Airport:
                                                                        td CUN
                                                                    tr
                                                                        td Confirmation #:
                                                                        td HSU4A7
                                                                    tr
                                                                        td Flight #:
                                                                        td UA432
                                                                    tr
                                                                        td Airline:
                                                                        td United Airlines
                                                                    tr
                                                                        td Terminal:
                                                                        td 3
                                                                    tr
                                                                        td Gate:
                                                                        td B10
                                                                    tr
                                                                        td Booked Through:
                                                                        td Expedia
                                                                a.voucher(href='', download='')
                                                                    i
                                                                        img(src='/assets/img/paper.png', alt='')
                                                                    | PDF
                                                            .bottom_row.clearfix
                                                                a.book_now(href='#') Book Now
                                                                a.show_less.active(href='')
                                                                    span Show Less
                                                                    i
                                                                        img(src='/assets/img/show.png', alt='')
                            .edit_events.clearfix(style='clear:both;')
                                .event_editor
                                    .event_add + Add more
                                    .event_day Days
                                    .event_event Events
                    .clearfix
                    form(method='POST' action='/edit_itinerary')
                        input#form_content.form-control(type='hidden', name='form_content', value='')
                    a.save_btn.save_btn_style.save(href='') Save
                    button.save_btn.save_btn_style.cancel.cancel_content Cancel


block append footer
    script(src='/assets/js/edit_itinerary.js')