extends layout
block head
block content

    ul
        each itinerary in usr.saved_itineraries ? usr.saved_itineraries : []
                li
                    p #{itinerary._id}
                a(href='../view_itinerary/' + itinerary._id)
                    li
                        ul
                            p Days
                            each day in itinerary.Days
                                li
                                    ul
                                        each event in itinerary.Events
                                            li
                                                p #{event.Label}
                                            li
                                                ul
                                                    each type in event.Type
                                                        li
                                                            p #{type}
                                            li
                                                p Event time #{event.Time}
                                            li
                                                p Event description #{event.Description}
                                            li
                                                p Event tips #{event.Tips}
                                            li
                                                p Event photo #{event.Photo}
                                            li
                                                p Event price #{event.Price}
                                            li
                                                p Event hours #{event.Hours}
                                            li
                                                p Event address #{event.Address}
                                            li
                                                p Event phone #{event.Phone}
                                            li
                                                p Event website #{event.Website}
                                            li
                                                p Event audio guides #{event.AudioGuides}
                                            li
                                                p Event book link #{event.BookLink}
                                            li
                                                p Event transportation #{event.Transportation}
                                            li
                                                p Event reviews #{event.Reviews}
                                li
                                    p Day title #{day.Title}
                                li
                                    p Day date #{day.Date}
                                li
                                    ul
                                        p Countries
                                        each country in day.Countries
                                            li
                                                p Country #{country}
                                li
                                    ul
                                        p Locations
                                        each location in day.Locations
                                            li
                                                p Location #{location}
                                li
                                    p Day overnight #{day.Overnight}
                    li
                        p Title: #{itinerary.Title}
                    li
                        p Description: #{itinerary.Description}
                    li
                        ul
                            p Countries
                            each country in itinerary.Countries
                                p #{country.Name}
                    li
                        ul
                            p Locations
                            each location in itinerary.Locations
                                p #{location.Name}
                    li
                        p Day length #{itinerary.DayLength}
                    li
                        p Night length #{itinerary.NightLength}
                    li
                        ul
                            p Themes
                            each theme in itinerary.Theme
                                p Theme #{theme}
                    li
                        p Image Url: #{itinerary.ImageUrl}
                        img(src=itinerary.ImageUrl)
