extends layout

block content

    input(type='text', value='')
    input(type='submit', value="Search")
    select
        option By country
        option By theme
    ul
        each itinerary in itineraries ? itineraries : []
            form(method="post")
                if locals._user
                    input(type="hidden", name="type", value="save")
                input(type="hidden", name="id", value=itinerary._id)
                a
                    button More
                if locals._user
                    input(type="submit", value="Save")
                a(href='../view_itinerary/' + itinerary._id)
                    li
                        p Itinerary #{itinerary}
                    li
                        ul
                            each index, day in itinerary.Days ? itinerary.Days : []
                                li
                                    p Day #{index + 1}
                                    ul
                                        each event in itinerary.Events ? itinerary.Events : []
                                            li
                                                p Event Label: #{event.Label}
                                            li
                                                ul
                                                    each type in event.Type
                                                        li
                                                            p Event Type: #{type}
                                            li
                                                p #{event.Time}
                                            li
                                                p #{event.Description}
                                            li
                                                p #{event.Tips}
                                            li
                                                p #{event.Photo}
                                            li
                                                p #{event.Price}
                                            li
                                                p #{event.Hours}
                                            li
                                                p #{event.Address}
                                            li
                                                p #{event.Phone}
                                            li
                                                p #{event.Website}
                                            li
                                                p #{event.AudioGuides}
                                            li
                                                p #{event.BookLink}
                                            li
                                                p #{event.Transportation}
                                            li
                                                p #{event.Reviews}
                                li
                                    p Day Title: #{day.Title}
                                li
                                    p Date Date: #{day.Date}
                                li
                                    ul
                                        if day.Countries
                                            each country in day.Countries
                                                li
                                                    p Date Country: #{country}
                                li
                                    ul
                                        if day.Locations
                                            each location in day.Locations
                                                li
                                                    p Day Location #{location}
                                li
                                    p Day Overnight #{day.Overnight}
                    li
                        p Title: #{itinerary.Title}
                    li
                        p Description: #{itinerary.Description}
                    li
                        ul
                            p Countries #{itinerary.Countries}
                            each country in itinerary.Countries
                                p #{country.Name}
                    li
                        ul
                            each location in itinerary.Locations
                                p #{location.Name}
                    li
                        ul
                            each feature in itinerary.Featuring
                                p #{feature}
                    li
                        p Day Length: #{itinerary.DayLength}
                    li
                        p Night Length: #{itinerary.NightLength}
                    li
                        ul
                            each theme in itinerary.Theme
                                p #{theme}
                    li
                        p Image Url: #{itinerary.ImageUrl}
                        img(src=itinerary.ImageUrl)
                    li
                        ul
                            each user in itinerary.User
                                p #{user}