extends layout
append head
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.7.1.min.js')
    script(src='/javascripts/search.js')

block content

    p Search by country
    form(method="post", id='search_form')
        input(type='text', id='search_field', name='search_field', value='')
        input(type="hidden", id='type', name="type", value='search')
        input(type='submit', value='Search')
        each tag, index0 in tags ? tags : []
            p #{tag.Name}
            input(type='checkbox', name=tag.Name, value=tag.Name)
        //, onclick="search()"
    ul
        each itinerary, index0 in itineraries ? itineraries : []
            li
                form(method="post", id='form'+index0)
                    input(type="hidden", id='type', name="type", value='save')
                    input(type="hidden", name="id", value=itinerary._id)
                    //a
                        button More
                    if locals._user
                        input(type="submit", value="Save to my itineraries & customize")
                        //, onclick='save("form' + index0 +'")'
                    //a(href='../view_itinerary/' + itinerary._id)
                    ul
                        li
                            p Itinerary #{itinerary}
                        li
                            ul
                                each day, index in itinerary.Days ? itinerary.Days : []
                                    li
                                        p Day #{index + 1}
                                        ul
                                            each event in itinerary.Events ? itinerary.Events : []
                                                li
                                                    p Event Label: #{event.Label}
                                                li
                                                    ul
                                                        each type in event.Type
                                                            li
                                                                p Event Type: #{type}
                                                li
                                                    p #{event.Time}
                                                li
                                                    p #{event.Description}
                                                li
                                                    p #{event.Tips}
                                                li
                                                    p #{event.Photo}
                                                li
                                                    p #{event.Price}
                                                li
                                                    p #{event.Hours}
                                                li
                                                    p #{event.Address}
                                                li
                                                    p #{event.Phone}
                                                li
                                                    p #{event.Website}
                                                li
                                                    p #{event.AudioGuides}
                                                li
                                                    p #{event.BookLink}
                                                li
                                                    p #{event.Transportation}
                                                li
                                                    p #{event.Reviews}
                                    li
                                        p Day Title: #{day.Title}
                                    li
                                        p Date Date: #{day.Date}
                                    li
                                        ul
                                            if day.Countries
                                                each country in day.Countries
                                                    li
                                                        p Date Country: #{country}
                                    li
                                        ul
                                            if day.Locations
                                                each location in day.Locations
                                                    li
                                                        p Day Location #{location}
                                    li
                                        p Day Overnight #{day.Overnight}
                        li
                            p Title: #{itinerary.Title}
                        li
                            p Description: #{itinerary.Description}
                        li
                            ul
                                p Countries #{itinerary.Countries}
                                each country in itinerary.Countries ? itinerary.Countries : []
                                    p #{country.Name}
                        li
                            ul
                                each location in itinerary.Locations ? itinerary.Locations : []
                                    p #{location.Name}
                        li
                            p Day Length: #{itinerary.DayLength}
                        li
                            p Night Length: #{itinerary.NightLength}
                        li
                            p Themes
                            ul
                                each theme in itinerary.Theme ? itinerary.Theme : []
                                    p #{theme.Name}
                        li
                            p Image Url: #{itinerary.ImageUrl}
                            img(src=itinerary.ImageUrl)